model:
  enc:
    subsampling:
      num_blocks: 3
      num_layers_per_block: 2
      out_channels: [8,  16, 32]
      kernel_sizes: [3, 3, 3]
      strides: [1, 2, 2]
      residuals: [ True, True, True]
      dropout: 0.1 
    conv_type: "conv-conformer"
    input_dim: 80
    encoder_dim: 320
    d_model: 320
    num_attention_heads: 8
    feed_forward_expansion_factor: 4
    dropout_rate: 0.1
    conv_kernel_size: 31
    num_encoder_layers: 16
    output_dim: 320
    in_channels: 1
    out_channels: 32
    conv_config:
      size: 320
      linear_units: 576
      fuse_type: "concat_fusion"
      kernel_sizes: "7, 15, 23, 31"
      merge_conv_kernel_size: 3
      use_non_linear: true
      use_linear_after_conv: true
      activation: "swish"
      gate_activation: "swish"
    type: "ConvConformer"
    projection_dim: 640
  dec: 
    embedding_size: 256
    hidden_size: 512
    output_size: 320
    n_layers : 1
    type: "transducer"
    k: 1
  joint:
    input_size: 640
    inner_size: 512
  model_name: "ConvConformer"


training:
  epochs: 100
  batch_size: 2
  num_workers: 4
  save_path: "/home/anhkhoa/anhkhoa/PhonoASR/saves"
  train_path : "/home/anhkhoa/anhkhoa/dataset/train_word.json"
  dev_path : "/home/anhkhoa/anhkhoa/dataset/test_word.json"
  test_path : "/home/anhkhoa/anhkhoa/dataset/test_word.json"
  vocab_path : "/home/anhkhoa/anhkhoa/dataset/word_vocab_vivos.json"
  reload: False
  logg: "/home/anhkhoa/anhkhoa/PhonoASR/Conformer.log"
  # ctc_weight: 0.3
  result: "/home/anhkhoa/anhkhoa/PhonoASR/Conformer_word_result.txt"
  type: "word"
  type_training: "transducer"
  wave_path: "/home/anhkhoa/dataset/voices"

infer:
  type_decode: mtp_stack


optim:
  type: "adam"
  lr: 0.001
  weight_decay: 0.0001
  decay_rate: 0.5


scheduler:
  lr_initial: 0.001
  n_warmup_steps: 10000


rnnt_loss:
  blank: 0
  reduction: "mean"
