model:
  enc:
    subsampling:
      num_blocks: 3
      num_layers_per_block: 2
      out_channels: [8,  16, 32]
      kernel_sizes: [3, 3, 3]
      strides: [1, 2, 2]
      residuals: [ True, True, True]
      dropout: 0.1 
    input_dim: 80
    encoder_dim: 256
    d_model : 256
    num_attention_heads: 8
    feed_forward_expansion_factor : 4
    dropout_rate: 0.1
    conv_kernel_size: 31
    num_encoder_layers: 1
    output_dim: 256
    in_channels: 1
    out_channels: 32
    name : 'Conformer'
    projection_dim : 640
    output_dim : 320
  dec: 
    embedding_size: 256
    hidden_size: 512
    output_size: 320
    n_layers : 1
    type: "transducer"
    k: 1
  joint:
    input_size: 640
    inner_size: 512
  model_name : 'Conformer'
  k: 1

training:
    epochs: 0
    batch_size: 2
    num_workers: 
    save_path: "/home/llogn/workspace/phonoasr/saves"
    wave_path: "/mnt/c/paper/raw_data/Vietnamese-Speech-to-Text-datasets/ViVOS/voices"
    train_path: "/mnt/c/paper/raw_data/Vietnamese-Speech-to-Text-datasets/ViVOS/train_w2i.json"
    dev_path: "/mnt/c/paper/raw_data/Vietnamese-Speech-to-Text-datasets/ViVOS/test_w2i.json"
    test_path: "/mnt/c/paper/raw_data/Vietnamese-Speech-to-Text-datasets/ViVOS/test_w2i.json"
    vocab_path: "/mnt/c/paper/raw_data/Vietnamese-Speech-to-Text-datasets/ViVOS/vocab_w2i.json"
    reload: False
    logg: "/home/llogn/workspace/phonoasr/logs/Conformer.log"
    # ctc_weight: 0.3
    result: "/home/llogn/workspace/phonoasr/result.txt"
    type: "word"
    type_training: "transducer"
    sample_rate : 16000
    n_mels : 80
    n_fft : 512
    win_length : 25
    pad_id: 0
    blank_id: 0
    sos_id: 1
    eos_id: 2

infer: 
    type_decode: "mtp_stack"
    
optim:
  type: adam
  lr: 0.001
  weight_decay: 0.0001
  decay_rate: 0.5

scheduler:
  lr_initial: 0.001
  n_warmup_steps: 15000

loss:
    blank: 0


  