model:
  enc: 
    input_dim: 80
    encoder_dim: 256
    num_attention_heads: 8
    feed_forward_expansion_factor : 4
    dropout_rate: 0.1
    conv_kernel_size: 31
    num_encoder_layers: 1
    output_dim: 256
    in_channels: 1
    out_channels: 32
    name : 'SBConformer'
    projection_dim : 256
  dec: 
    n_layer: 1
    d_model: 256
    ff_size: 1024
    n_head: 4
    dropout: 0.1
    k: 3
  model_name : 'Conformer'
  k: 1

training:
  epochs: 100
  batch_size: 4
  accumulation_steps: 1
  save_path: "/home/anhkhoa/PhonoASR/saves"
  train_path : "/home/anhkhoa/transformer_transducer_speeQ/data/train_phoneme.json"
  dev_path : "/home/anhkhoa/transformer_transducer_speeQ/data/test_phoneme.json"
  test_path : "/home/anhkhoa/transformer_transducer_speeQ/data/test_phoneme.json"
  vocab_path : "/home/anhkhoa/transformer_transducer_speeQ/data/vocab_phoneme.json"
  logg : "/home/anhkhoa/TASA/logs/Conformer.log"
  reload: False
  ctc_weight: 0.4
  type_training: 'ce'
  sample_rate : 16000
  n_mels : 80
  n_fft : 512
  win_length : 25

optim:
  type: adam
  lr: 0.0008
  weight_decay: 0.0001
  decay_rate: 0.5

scheduler:
  lr_initial: 0.0008
  n_warmup_steps: 15000

loss:


  