training:
  epochs: 0
  batch_size: 16
  num_workers: 4
  save_path: "/datastore/npl/Speech2Text/PhonoASR/saves"
  train_path : "/datastore/npl/Speech2Text/dataset/train_word.json"
  dev_path : "/datastore/npl/Speech2Text/dataset/test_word.json"
  test_path : "/datastore/npl/Speech2Text/dataset/test_word.json"
  vocab_path : "/datastore/npl/Speech2Text/dataset/word_vocab_vivos.json"
  wave_path: "/datastore/npl/Speech2Text/dataset/voices"
  wave_path: "/home/inomar01/nlp@uit/PhonoASR/dataset/LSVSC_100/data"
  reload: False
  logg : "/datastore/npl/Speech2Text/PhonoASR/logs/speech-transformer.log"
  ctc_weight: 0.3
  result: "/datastore/npl/Speech2Text/PhonoASR/result-speech-transformer.txt"
  type: "word"
  type_training : "ce"

infer: 
  type_decode: 'normal' # mtp_stack/mtp

optim:
  type: adam
  lr: 0.001
  weight_decay: 0.0001
  decay_rate: 0.5

scheduler:
  lr: 0.001
  n_warmup_steps: 15000

model:
  enc:
    subsampling:
      num_blocks: 3
      num_layers_per_block: 2
      out_channels: [8,  16, 32]
      kernel_sizes: [3, 3, 3]
      strides: [1, 2, 2]
      residuals: [ True, True, True]
      dropout: 0.1 
    in_features: 640
    n_layers: 6
    d_model: 256
    ff_size: 1024
    h: 4
    p_dropout: 0.1
    name: 'SpeechTransformer'
  dec:
    type: 'base'
    n_layer: 3
    d_model: 256
    ff_size: 1024
    n_head: 4
    dropout: 0.1
    k: 1
  model_name: "SpeechTransformer"

rnnt_loss:
  blank: 4
  reduction: "mean"  


