training:
  epochs: 100
  batch_size: 32
  num_workers: 4
  save_path: "/home/anhkhoa/PhonoASR/saves"
  train_path : "/home/anhkhoa/transformer_transducer_speeQ/data/train_phoneme_tasa.json"
  dev_path : "/home/anhkhoa/transformer_transducer_speeQ/data/test_phoneme_tasa.json"
  test_path : "/home/anhkhoa/transformer_transducer_speeQ/data/test_phoneme_tasa.json"
  vocab_path : "/home/anhkhoa/transformer_transducer_speeQ/data/vocab_phoneme_tasa.json"
  reload: False
  logg : "/home/anhkhoa/PhonoASR/logs/SpeechTransformer.log"
  ctc_weight: 0.3
  result: "/home/anhkhoa/PhonoASR/result_2.txt"
  type: "word"
  type_training : "ce"
  wave_path: "/mnt/d/voices/voices"

  

optim:
  type: adam
  lr: 0.001
  weight_decay: 0.0001
  decay_rate: 0.5

scheduler:
  lr_initial: 0.001
  n_warmup_steps: 25000

model:
  enc:
    subsampling:
      num_blocks: 3
      num_layers_per_block: 2
      out_channels: [8, 16, 32]
      kernel_sizes: [3, 3, 3]
      strides: [1, 2, 2]
      residuals: [ True, True, True]
      dropout: 0.1 
    in_features: 640
    n_layers: 6
    d_model: 256
    ff_size: 1024
    h: 4
    p_dropout: 0.1
    name: 'TASA'
  dec:
    n_layer: 3
    d_model: 256
    ff_size: 1024
    n_head: 4
    dropout: 0.1
    k: 3
  model_name: "tasa"
  d_model: 256


rnnt_loss:
  blank: 4
  reduction: "mean"  


infer:
  type_decode: "mtp_stack"